* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  background-color: #2F2F2F;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  gap: 20px;

}

@font-face {
  font-family: "Jersey10";
  src: url(../Fonts/Jersey10-Regular.ttf) format("truetype");
}

.boton{
  color: aliceblue;
  /* font-size: 1.5rem; */
  
}

#barraLateral {
    display: flex;
    flex-direction: column;
    background-color: #424040;
    padding: 10px;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;

}

#botonesLaterales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    border-radius: 15px;
    padding: 20px 0px 20px 0px;
    background-color: #222222;

}

#botonesLaterales button {
    width: 80%;
    background-color: #6d6d6d;
    color: white;
    font-family: "Jersey10";
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 5px #ffccff;
    transition: transform 0.3s ease-in-out, background-color 0.2s;
    text-align: center;
}

#botonesLaterales button:hover{
  transform: scale(1.05);
  cursor: pointer;
  background-color: #df47ca;
  color: black;
}

#reproductor {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    height: 50%;
    background-color: #df47ca;
    font-family: "Jersey10";
}

#reproductorVideo {
    display: flex;
    background-color: brown;
    width: 100%;
    height: 50%;
    justify-content: center;

}

#botonesReproductor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 1px;
    background-color: rgba(44, 42, 44, 0.5);
}

.botonesControl {
    margin: 0 auto;
    background-color: #424040;
    color:rgb(255, 255, 255);
    border-radius: 15px;
    border-style: none;
    width: 20%;   
    height: 35px;
}

.botonPlayPausa {
    background-color: rgba(63, 77, 151, 0.745);
    border-radius: 50%;
    color:rgb(255, 255, 255);
    border-style: none;
    width: 23%;
    margin: 5px;
    aspect-ratio: 1 / 1; 
}

#sliderReproductor {
    display: flex;
    border-radius: 15px;
    background-color: rgba(44, 42, 44, 0.5);
    padding: 0 1.5em 0 1.5em;
}

#sliderReproductor input {
    margin: 0 auto;
    width: 100%;
}

#sliderDuracion
{
    display: flex;
    border-radius: 15px;
    background-color: rgba(44, 42, 44, 0.5);
    padding: 0 1.5em 0 1.5em;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: -4px;
}

#sliderVol
{
    display: flex;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    background-color: rgba(44, 42, 44, 0.5);
    padding: 0 1.5em 0 1.5em;
}

section div img{
    width: 100%;
    height: 100%;
}

#pantallaInicio {
    width: 100%;
    height: 100%;
}

#contenedorInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-image: url(../Media/FondoInicio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 10px;
    
}

.contenedor {
    width: 90%;
    height: 30%;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
#contenedorGeneros{
    height: 30%;

    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}


#reproductor button:hover {
    background-color: rgb(7, 7, 7);
    cursor: pointer;
}

#pantallaBuscador {
    width: 100%;
    height: 100%;
    background-image: url(../Media/FondoBuscador.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 15px;
    align-items: flex-start;/*los items se ponen al inicio del contenedor*/
    flex-direction: column;/*los items se acomodan en columna*/
}

#contenedorPaddre{
    background-color: red;
    width: 100%;
    height: 100%;
}

#contenedorCancionesBtn{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto ;
    margin: 5px;
}

#contenedorART{
    display: flex;
    height: 100%;
    width: 90%;
    background-color: rgba(0,0,0,0.5);
    max-width: 90%;
    max-height: 100%;
    overflow-y: auto ;
    border-style: solid;
    border-color: #ffffff8d;
    border-radius: 15px;
    margin: 0 auto;
}

#musicContainer{
    display: flex;
    height: 100%;
    width: 90%;
    background-color: rgba(0,0,0,0.5);
    max-width: 90%;
    max-height: 100%;
    overflow-y: auto ;
    border-style: solid;
    border-color: #ffffff8d;
    border-radius: 15px;
    margin: 0 auto;
}
#lista-canciones{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#botonesBuscador{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    height: 30px;
}
.botoncito{
    display: flex;
    font-family: "Jersey10",sans-serif;
    justify-content: center;
    align-items: center;
    flex: 1 1 20px;
    background-color: rgba(0, 0, 255, 0.5) ;
    border-radius: 15px;
    color: #C6CE00;
    min-width: 120px;
    padding: 1em;
    text-align: center;
}
.botoncito:hover{
    cursor: pointer;
    color: rgba(0, 0, 255, 0.5) ;
    background-color: #C6CE00;;
}

/*contenedor para separar la escritura de busqueda*/
.contenedorescribbuscador
{
    width: 250px;
    height: 50px;
}

#contenedorBuscador {
    width: 100%;
    height: 20%;
    color: white;
}

#contenedorBuscador, input {
    border-radius: 15px;
    padding: 10px;
}
/*contenedor para la busqueda de canciones con img*/
.contenedorBtn
{
    width: 900px;
    height: 400px;
    flex-direction: row;
    display: flex;

}
/*Botones de busqueda de canciones*/
.btnBuscadorB
{
    display: inline;
    width: 120px;
    height: 140px;
    font-size: 15px;
    font-family: 'Arial Narrow';
    background-color: #fefefe78;
    border-color: #222222;
    border-width: 16px;
    border-left: 16px;
    border-right: 16px;
    border-top: 16px;
    border-radius: 15px;
    border: solid;
    padding-left: 30PX;
    transition-property:all ;
    transition-duration: 1s;
    transition-delay: .35s ;
}
.btnBuscadorB:hover
{
    background-color: #5e0e83;
    width: 200px;
    height: 200px;
    font-size: 40px ;
    cursor: pointer;
}
/*imagenes de los botones de busqueda de las canciones*/
.btnBuscadorI
{
    display: flex;
    width: 60px;
    height: 60px; 
    justify-content: center;
    transition-property:all ;
    transition-duration: 1s;
    transition-delay: .35s ;

}
.btnBuscadorI:hover
{
    background-color: #5e0e83;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.contenedorArt
{
    width: 1300px;
    height: 470px;
}
/*botones de busqueda de artistas*/
.btnArtB
{
    display: flex;
    display: inline;
    width: 110px;
    height: 120px;
    font-size: 13px;
    font-family: 'Arial Narrow';
    background-color: #ffffff5a;
    flex-direction: column;
    align-items: center;
    border-color: #222222;
    border-width: 10px;
    border-left: 10px;
    border-right: 10px;
    border-top: 10px;
    border-radius: 50px;
    border: solid;
    padding-left: 15PX;
    justify-content: space-around;
    transition-property:all ;
    transition-duration: 1s;
    transition-delay: 2s ;
}
.btnArtB:hover
{
    background-color: #162fba;
    width: 200px;
    height: 200px;
    font-size: 40px ;
    cursor: pointer;
}
/*imagenes de los botones de busqueda de artistas*/
.btnArtI
{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: space-around;
    transition-property:all ;
    transition-duration: 1s;
    transition-delay: 2s ;
}
.btnArtI:hover
{
    width: 200px;
    height: 200px;
    font-size: 40px ;
    cursor: pointer;
}
#contenedorPlaylist {
    border-style: solid;
    border-color: white;
    color: rgb(37, 209, 37);
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}

#pantallaPlaylist {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../Media/FondoPlaylist.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 10px;
    border-radius: 15px;
}

#contenedorPlaylist {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-style: solid;
    border-color: #fff;
    border-radius: 15px;
    color: #C6CE00;
    font-family: "Jersey10";
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
}
#lista-artistas{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

#buscadorPlaylist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 35%;
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    overflow-y: auto;
}

#playlistInput {
    width: 100%;
    max-height: 10%;
}

#playlist-canciones {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
}

#listaPlaylist {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 65%;
    max-height: 100%;
    border-style: solid;
    border-color: #fff;
    color: #C6CE00;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    overflow-y: auto;
}

#listaPlaylist h2{
    display: flex;
    width: 100%;
    margin-top: 10px;
    font-size: 3em;
    justify-content: center;
}

#listaPlaylist li{
    display: flex;
    align-items: center;
    padding-left: 10px;
    list-style: none;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    background-color: rgba(0,0,255,0.5);
    margin: 0 0 5px 0;
}

#playlist {
    margin: 10px;
}

#botonesPlaylist {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 10px;
}

.botonesPlaylist {
    display: flex;
    font-family: "Jersey10";
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex: 1 1 20px;
    background-color: rgba(0,0,255,0.5);
    border-radius: 15px;
    color: #C6CE00;
    min-width: 120px;
    padding: 1em;
    height: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.botonesPlaylist:hover {
    background-color: #C6CE00;
    color: rgba(0,0,255);
    cursor: pointer;
}

.resultado{
    display: flex;
    align-items: center;
    border-radius: 15px;
    border-style: none;
    background-color: #fff;
    color:#000;
    text-align: center;
    /*font-family: "Jersey10", sans-serif;*/
    margin: 5px;
    padding: 5px;

}

.eliminar{
    display: flex;
    align-items: center;
    border-radius: 15px;
    border-style: none;
    background-color: #ff0000;
    color:#f5f5f5;
    text-align: center;
    font-family: "Jersey10", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10%;


}

#pantallaCreditos {
    width: 100%;
    height: 100%;
    background-image: url(../Media/FondoCreditos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    border-radius: 15px;
}

#player{
    width: 100%;
    height: 100%;    
}

/*CSS Carrusel*/
.titulo-carrusel{
    margin-bottom: 10px;
    color: #fff;
    font-family: "Jersey10";
    font-size: 1.8rem;
    text-align: center;
}

.titulo-generos{
    margin-bottom: 10px;
    color: #fff;
    font-family: "Jersey10";
    font-size: 1.8rem;
    text-align: center;
}

.boton-carrusel{
    background-color: #df47ca;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: "Jersey10";
    box-shadow: 0 0 5px #000;
    margin: 0 5px;
}

.boton-carrusel:hover{
    background-color: #a63f98;
    cursor: pointer;
}

.carrusel{
    display: flex;
    overflow: hidden;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    scroll-behavior: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

.cuadro-cancion{
    width: 100px;
    height: 100px;
    background-color: #555;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    transition: all 0.4s ease;
    flex-shrink: 0;
}
.cuadro-cancion:hover{
    cursor: pointer;
    width: 110px;
    height: 110px;
}

.cuadro-artistas{
    width: 100px;
    height: 100px;
    background-color: #555;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    transition: all 0.4s ease;
    flex-shrink: 0;
}

.envoltorio-carrusel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    gap: 10px;
}

.fila-generos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.cuadro-generos{
    width: 80px;
    height: 80px;
    background-color: #555;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.4s ease;
    opacity: 1;
    flex-shrink: 0;
}

.cuadro-generos:hover{
    background-color: #df47ca;
    cursor: pointer;
    height: 90px;
    width: 90px;
}

.envoltorio-generos{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorIntegrantes{
    width: 500px;
    height: 495px;
    background-color: #df47cbac;
    font-size: 30px;
    font-family: 'Times New Roman';
}

.contenedorI{
    width: 500px;
    height: 70px;
    background-color: #f6f6ff42;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.contenedor2{
    width: 500px;
    height: 45px;
    background-color: #f6f6ff42;
    font-size: 20px;
    font-family: 'Times New Roman';
}
.contenedor3{
    width: 500px;
    height: 25px;
    background-color: #f6f6ff42;
    font-size: 20px;
    font-family: 'Times New Roman';
}
/*
.contenedor4{
     width: 500px;
    height: 200px;
    background-color: #f6f6ff42;
    font-size: 40px;
    font-family: 'Times New Roman';
}
.contenedor5{
     width: 500px;
    height: 200px;
    background-color: #f6f6ff42;
    font-size: 40px;
    font-family: 'Times New Roman';
}
.contenedor6{
     width: 500px;
    height: 200px;
    background-color: #f6f6ff42;
    font-size: 40px;
    font-family: 'Times New Roman';
}
.contenedor7{
     width: 500px;
    height: 200px;
    background-color: #f6f6ff42;
    font-size: 40px;
    font-family: 'Times New Roman';
} */