<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/enmaquetado.css">
    <title>Paginita web</title>
</head>
<body>
    <!--Barra lateral-->
    <aside id="barraLateral">
        <section id="botonesLaterales">
            <button id="botonInicio" class="boton">Inicio</button>
            <button id="botonPlaylist" class="boton">Playlist</button>
            <button id="busqueda" class="boton">Búsqueda</button>
            <button id="creditos" class="boton">Créditos</button>
        </section>
        <section id="reproductor">
            <article >
                Contenedor para música y controles de reproducción
                <div><img src="../Statics/FondoPlaylist.jpg"> </div>
                <div id="botonesReproductor">
                    <button class="botonesControl">1</button>
                    <button class="botonPlayPausa">2</button>
                    <button class="botonesControl">3</button>
                    <br><br>
                </div>
                <div id="sliderReproductor">
                    <input type="range" min="0" max="100" value="50" class="slider" id="slider">
                </div>
            </article>
        </section>
    </aside>

    <!--Pantalla de Búsqueda-->
    <section id="contenedorBuscador" style="display: none;"> 
        <nav>
            <label for="buscador">Buscar</label>
            <input type="text" id="buscador" name="buscador" placeholder="Buscar">
        </nav>
        <br><br>
        <p>¿Qué vas a escuchar hoy?</p>   
    </section><br>

    <!--Pantalla de Inicio--> 
    <main>
        <section class="contenedor" id="contenedorInicio">
            <article>Canciones/carrusel</article>
            <br><br>
            <article>Artistas</article>
            <br>
            <article>Cassetes</article>
        </section> 
    </main>

    <!--Pantalla de PlayList-->
    <main>
        <section id="contenedorPlaylist" class="contenedor" style="display: none;">
            <article>
                <h2>Mi playlist</h2>
                <ul>
                    
                </ul>

                <br><br>
                <section class="barraReproductora"> Barra de reproductor </section>
            </article>
        </section>
                
    </main>
            <aside id="playlist">

            </aside>
        </div>
    </div>

</body>
<script src="../Dynamics/enmaquetado.js"></script>
</html>