<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/CSS/enmaquetado.css">
    <script src="../Dynamics/JS/baseDeDatos.js"></script>
    <title>Paginita web</title>
</head>
<body>
    <!--Barra lateral-->
    <aside id="barraLateral">
        <section id="botonesLaterales">
            <button id="botonInicio" class="boton">Inicio</button>
            <button id="botonPlaylist" class="boton">Playlist</button>
            <button id="busqueda" class="boton">Búsqueda</button>
            <button id="creditos" class="boton">Créditos</button>
        </section>
        <section id="reproductor">
            <article >
                <div id="reproductorVideo">
                    <div id="player">
                            <img src="../Statics/Media/Houston carga_1920X1440.gif">
                    </div> <!-- Contenedor del reproductor de YouTube -->
                </div>
                <div class="controls-bar"> 
                    <div id="sliderVol">
                        <label for="volumeSlider">Volumen:</label>
                        <button type="text" id="muteBtn"></button> 
                        <input type="range" max="100"  id="volumeSlider" class="slider">
                    </div>
                    <div id="sliderDuracion">
                        <label for="seekBar">Duracion:</label>
                        <input type="range" min="0" max="100" value="0" class="slider" id="seekBar">
                    </div>
                </div>
                <div id="botonesReproductor">
                    <button class="botonesControl" id="cancionAnterior"><|-</button>
                    <button class="botonPlayPausa" id="playPausebtn">||</button>
                    <!--cambios-->
                    <button class="botonesControl" id="cancionSiguiente">-|></button>
                </div>
            </article>
            
        </section>
    </aside>

    <!--Pantalla de Búsqueda-->
    <main id="pantallaBuscador" style="display: none;"> 
        <article class="contenedorescribbuscador" id="contenedorescribbuscador">
            <!--contenedor para establecer el buscador-->
            <nav id="contenedorBuscador">
                <label for="buscador">Buscar</label>
                <input type="text" id="buscador" name="buscador" placeholder="Buscar">
                <button class="botoncito" id="listaCanciones">Canciones</button>
                <button class="botoncito" id="listaArtistas">Artistas</button>
            </nav>
            <br><br>
            
        </article>
        <br>
            <!--contenedor para establecer los botones de canciones-->
            <article id="musicContainer" style="display: flex;">
                <div id="lista-canciones"></div>         

            </article>
            <br>
            <article class="contenedorArt" id="contenedorART"style="display: none;">
                <!--contenedor para mostrar botones de artistas-->
                <div id="lista-artistas"></div>
            </article>

            <div class="video-responsive">
                <header>
                <i class="fa-brands fa-youtube" style="color: var(--primary-color);"></i>
            </div>
        <br><br>
    </main><br>

    <!--Pantalla de Inicio--> 
    <main id="pantallaInicio">
        <section id="contenedorInicio">
            <article class="contenedor" id="contenedorCanciones">
                <h2 class="titulo-carrusel">Recomendaciones</h2>
                <div class="envoltorio-carrusel">
                    <button id="btnIzq" class="boton-carrusel">◀</button>
                    <div id="carruselCanciones" class="carrusel">
                        
                    </div>
                    <button id="btnDer" class="boton-carrusel">▶</button>
                </div>
            </article>
            <br><br>
            <article class="contenedor" id="contenedorArtistas">
                <h2 class="titulo-carrusel">Artistas</h2>
                <div class="envoltorio-carrusel">
                    <button id="btnIzqArtistas" class="boton-carrusel">◀</button>
                    <div id="carruselArtistas" class="carrusel">
                    </div>
                    <button id="btnDerArtistas" class="boton-carrusel">▶</button>
                </div>
            </article>
            <br><br>
            <div  id="contenedorGeneros">
                <img src="../Statics/Media/huston música 1_1920X1440.gif" >
            </div>
        
        </section> 
    </main>
 
    <!--Pantalla de PlayList-->
    
    <main id="pantallaPlaylist" style="display: none;">
        <section id="contenedorPlaylist" class="contenedor" style="display: none;">
            <article id="buscadorPlaylist">
                <input type="text" id="playlistInput" placeholder="Añade algo a la playlist" >
                <div id="playlist-canciones" style="display: none;"></div>
                <br><br>
            </article>
            <article id="listaPlaylist">
                <div><h2>Mi playlist</h2></div>
                <br><br>
                <article id="botonesPlaylist">    
                    <button class="botonesPlaylist" id="iniciarPlaylist">Play</button>
                    <button class="botonesPlaylist" id="shuffle">Shuffle</button>
                    <button class="botonesPlaylist" id="eliminarPlaylist">Delete All</button>
                </article>    
                <br><br>
                <ul id="playlist">
                    
                </ul>

                <br><br>
            </article>
        </section>
                
    </main>
           
    <!--Pantalla de Créditos-->
    <main id="pantallaCreditos" style="display: none;">
        <section id="contenedorCreditos" style="display: none;">
            <article class="contenedorIntegrantes" id="contenedorIntegrantes">
                <h3> Integrantes del equipo: </h3>
                <article class="contenedor2"><h4>Domínguez Jiménez Arturo Gabriel</h4>Desarrollo de cookies e interfaz</article>
                <article class="contenedorI"><h4>Fernández Varela Gómez Jorge</h4>Desarrollo de lógica de colas de reproducción y apoyo en el diseño de interfaz</article>
                <article class="contenedorI"><h4>González Peña Rubén Isaac</h4>Desarrollo de lógica general y apoyo en el desarrollo de la interfaz </article>
                <article class="contenedor2"><h4>Hernández Rivera Dulce</h4>Desarrollo de base de datos y apoyo en la interfaz </article>
                <article class="contenedorI"><h4>López Mayén Diego </h4>Conexión de la página con la API de YouTube y apoyo con la base de datos</article>
                <h3> Asesoras del equipo: </h3>
                <article class="contenedor3"><h4>Alatorre Campos Mia Constanza</h4></article>
                <article class="contenedor3"><h4>Zozaya Fernández Melanie</h4></article>
                <h3> Artista: </h3>
                <article class="contenedor3"><h4>Fraide Armenta Caro</h4></article>
            </article>
        </section>
            <img src="../Statics/Media/huston saluda_1920X1440.gif" height="650">
    </main>
</body>
    <script src="https://youtube.com/iframe_api"></script>
    <script src="../Dynamics/JS/enmaquetado.js"></script>
    <script src="../Dynamics/JS/playlist.js"></script>
    <script src="../Dynamics/JS/buscador.js"></script>
</body>
    <script src="https://youtube.com/iframe_api"></script>
    <script src="../Dynamics/JS/enmaquetado.js"></script>
    <script src="../Dynamics/JS/playlist.js"></script>
    <script src="../Dynamics/JS/buscador.js"></script>


</html>