body{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.fondo{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.barraLateral{
    background-color: rgb(0, 0, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 22%;
    gap: 10px;
}

.contenedor{
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    border-radius: 15%;
}

.boton{
    width: 60%;
    gap: 10px;
    padding: 10px;
}